## 1. Create a Pandas DataFrame from a dictionary
<pre>Given Input:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [50000, 70000, 90000, 110000]}

Desired Output:
    Name	 Age	Salary
0	Alice	 25	 50000
1	Bob	   30	 70000
2	Charlie   35	 90000
3	David	 40	 110000
</pre>

## 2. Load a CSV file into a Pandas DataFrame
Given iris CSV dataset: iris.csv

## 3. View the first, last and sample of 2 rows of a DataFrame
Given the iris df above

## 4. Get basic information and descriptive statistics about a DataFrame

## 5. Get all statistics about a DataFrame

## 6. Select multiple columns by column name of a DataFrame
'SepalLength','SepalWidth','Name'

## 7. Select multiple columns by index of a DataFrame
0, 1, 4

## 8. Select a subset of rows and columns of a DataFrame

The top 2 rows with columns 0, 1, 4
The last 2 rows with columns 0, 1, 4

## 9. Filter a DataFrame by condition
Filter all PetalLength > 6.4

## 10. Filter a DataFrame by condition
Filter all PetalLength > 6.4 and PetalWidth > 2.1

## 11. Sort a DataFrame by a column

Sprt the DataFrame by SepalLength in Ascending order

## 12. Sort a DataFrame by multiple column

Sprt the DataFrame by SepalLength and SepalWidth in Descending order

## 13. Group a DataFrame by a column and calculate mean 
Group DataFrame using a mapper or by a Series of columns

Group Dataframe by name and calculate mean, median, std

## 14. Add a new column to a DataFrame

Add a new column called 'Volume' with the formula: Volume = pi * SepalWidth^2 * PetalLength

## 15. Rename an existing column

Rename the column 'Name' to 'Species'

## 16. Drop a column

Drop the column 'Volume' from iris DF

## 17. Data cleaning - dropna, fillna
<pre>Given Input:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Elle'],
        'Salary': [50000, 70000, 60000, 90000, np.NaN]}
payroll = pd.DataFrame(data)

Requirement:
1. Drop NaN
2. Fill NaN with zero
3. Fill NaN with mean
4. Fill NaN with median</pre>

## 18. Find the unique value and number of unique value
<pre>In Iris DF, find :
1. Unique Iris species names
2. How many kinds of species
3. How many sample in each species</pre>

## 19. Replace values in a DataFrame
<pre>Change the Species names in iris DF:
Given Input:
df['Species'].unique()
$> ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

Desired Output:
df['Species'].unique()
$> ['Setosa', 'Versicolor', 'Virginica']</pre>

## 20. Replace values where the condition is False
<pre>Let's assume a species is large if its SepalLength is bigger
than mean. Create a new column 'LargeSpecies' and fill with 
Boolean to identify if the species belong to LargeSpecies.

You may create a column to fill with False first.
$> df.loc[df.index, 'LargeSpecies'] = False
</pre>

## 21. Replace values where the condition is True
<pre>df.mask() is the opposite of df.where()
df.mask(cond, other) will replace value with other if cond is True.

Let's create another column
df.loc[df.index, 'SmallSpecies'] = False
Replace the Boolean to True if 'SepalLength' smaller and equal
to mean.
</pre>

## 22. Fill values with numpy.where
<pre>Requirement:
1. Create new column 'SampleSize'
2. Fill it 'Large' if SepalLength > mean, else 'Small'.

Given Input:
Drop column 'LargeSpecies' and 'SmallSpecies'
df = df.drop(['LargeSpecies','SmallSpecies'], axis=1)

Desired Output:

</pre>

## 23. Change DataFrame column postion

## 24. Apply a function on a column
Let's change the data in SampleSize field to Uppercase

Use apply lambda function on a column
lambda x: x.upper()

## 25. Map dict or function on a column

Use .map - dictionary {'small': 'Small Iris', 'large': 'Large Iris'}

## 26. Applymap on multiple column or whole DF

Use .applymap 
lambda x: f'{x:.3f}'