In [1]:
import pandas as pd

s3= pd.Series(data=[10,20,30,40], index =[5,6,7,8])
s3[6]
s3.iloc[1]
s3.loc[6]

np.int64(20)

In [2]:
dict={
'Monday':10,
'Tuesday':20,
'Wednesday':30
}
s4=pd.Series(dict)
print(s4)
print(s4['Monday'])
print(s4.loc['Monday'])
print(s4.Monday)
print(s4[0])
print(s4.iloc[0])

Monday       10
Tuesday      20
Wednesday    30
dtype: int64
10
10
10
10
10

C:\Users\User\AppData\Local\Temp\ipykernel_3688\3255702983.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s4[0])

# Generate a dictionary and sum day 2 - 5 as a series

In [3]:
dd={}

for i in range(1,8):
    dd.update({f'day{i}': i*100})
print(dd)

s5=pd.Series(dd)
y=sum(s5['day2':'day5'])
print(y)
s5.info
s5.shape
len(s5)

{'day1': 100, 'day2': 200, 'day3': 300, 'day4': 400, 'day5': 500, 'day6': 600, 'day7': 700}
1400

7

In [4]:
s5.tail(2)

day6    600
day7    700
dtype: int64

In [5]:
s5.head(2)

day1    100
day2    200
dtype: int64

In [6]:
slong = pd.Series(range(1,100))
slong

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

In [7]:
slong.info()

<class 'pandas.core.series.Series'>
RangeIndex: 99 entries, 0 to 98
Series name: None
Non-Null Count  Dtype
--------------  -----
99 non-null     int64
dtypes: int64(1)
memory usage: 920.0 bytes

In [8]:
list(slong.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [9]:
stat=slong.describe()
print(stat)
print(type(stat))
print(stat['min']) #cannot use stat.min

count    99.000000
mean     50.000000
std      28.722813
min       1.000000
25%      25.500000
50%      50.000000
75%      74.500000
max      99.000000
dtype: float64
<class 'pandas.core.series.Series'>
1.0

In [10]:
index_st= 'abcdefghij'
numbers = range (1,11)
ss1 = pd.Series(data=numbers, index=list(index_st))
print(ss1)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [11]:
ss1.info()

<class 'pandas.core.series.Series'>
Index: 10 entries, a to j
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 160.0+ bytes

In [12]:
ss1.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [13]:
ss1.shape

(10,)

In [14]:
ss1.head(10)
ss1.tail(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [15]:
ss1.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [16]:
ss1.iloc[3:7]
ss1.loc['d':'h']
ss1['d':'h']

d    4
e    5
f    6
g    7
h    8
dtype: int64

In [17]:
ss1.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [18]:
a = pd.Series ([1,2,3,4])
b = pd.Series ([11,12,13,14])
a+b

0    12
1    14
2    16
3    18
dtype: int64

In [19]:
x =[1,2,3,1,4,3]
ss1 = pd.Series(x)
print(ss1)
ss1.unique()

0    1
1    2
2    3
3    1
4    4
5    3
dtype: int64

array([1, 2, 3, 4])

In [20]:
ss1.is_unique

False

In [21]:
pd.Series([1,2,3]).is_unique

True

In [22]:
ss1.nunique()

4

In [23]:
x =[1,2,3,1,4,3]
ss1 = pd.Series(x)
print(ss1>2)
ss1[ss1>2]

0    False
1    False
2     True
3    False
4     True
5     True
dtype: bool

2    3
4    4
5    3
dtype: int64

In [24]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [26]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.columns

Index(['calories', 'duration'], dtype='object')

In [28]:
df.head()

   calories  duration
0       420        50
1       380        40
2       390        45

In [29]:
df.tail()

   calories  duration
0       420        50
1       380        40
2       390        45

In [30]:
df['duration']

0    50
1    40
2    45
Name: duration, dtype: int64

In [31]:
df.iloc[1]

calories    380
duration     40
Name: 1, dtype: int64

In [32]:
df.iloc[1]['duration']

np.int64(40)

In [33]:
import pandas as pd

data = {
  "Name": ['John','Mary','Peter','Cindy'],
  "Marks": [50, 60,70,10]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

    Name  Marks
0   John     50
1   Mary     60
2  Peter     70
3  Cindy     10

In [ ]:
df.loc